* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #fff3e3;
  --primary: #b88e2f;
  --color-gray-1: #3a3a3a;
  --color-gray-2: #616161;
  --color-gray-3: #898989;
  --color-gray-4: #b0b0b0;
  --color-gray-5: #d8d8d8;
  --background: #fff;
  --text: #000;
  --color-red-accents: #e97171;
}

body {
  font-family: "Poppins", sans-serif;
}

button,
input {
  outline: none;
  border: none;
}

ul,
ol {
  list-style-type: none;
}

svg {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 15px 131px;
  margin: auto;
}

/* Header */
.header {
}

.header .container {
  padding: 15px 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .header_menu_item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.header .header_menu_item ul li a {
  color: var(--text);
}

.header .other_item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

/* Footer */
.footer {
}

.grid_cols_4 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.col_item {
}

.col_title {
  margin-bottom: 53px;
}

.col_title h3 {
  line-height: 48px;
  font-weight: 500;
  color: #9f9f9f;
}

.col_title h1 {
}

.col_content {
}

.col_content p {
  color: #9f9f9f;
  width: 285px;
}

.col_content_text {
}

.col_content_link {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.col_content_link li a {
  color: var(--text);
}

form,
.form_get_newsletter {
  display: flex;
  align-items: center;
  gap: 30px;
}

.form_get_newsletter button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--background);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 8px;
}

.form_get_newsletter input {
  font-size: 14px;
  background-color: var(--background);
  padding-bottom: 8px;
}

.border {
  width: 100%;
  height: 1px;
  background-color: #000;
}

/* Banner shop */
.banner {
  width: 100%;
  height: 316px;
  background-image: linear-gradient(to top right, #ffffff91, #ffffff8f),
    url("../images/banner-shop.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__heading {
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

.banner__text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.banner .banner__text a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

.banner__text a:first-of-type {
  font-weight: 500;
}

.banner__text svg {
  width: 20px;
  height: 20px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #f9f1e7;
  padding: 0px 100px;
}

.filter__list,
.filter__item {
  display: flex;
  align-items: center;
}

.filter__list:first-of-type .filter__item {
  margin-right: 15px;

  span {
    margin-left: 12px;
  }
}

.filter__list:first-of-type .filter__item:last-of-type {
  position: relative;
  padding-left: 15px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #3a3a3a;
  }
}

.filter__list:last-of-type .filter__item {
  margin-right: 15px;

  span {
    margin-right: 12px;
  }

  &:first-of-type {
    input {
      padding: 20px;
      width: 55px;
      height: 55px;
      font-size: 16px;
    }
  }

  &:last-of-type {
    input {
      padding: 20px;
      width: 188px;
      height: 55px;
      font-size: 16px;
    }
  }
}

/* Shop product*/
.products {
  margin-top: 50px;
  font-size: 16px;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -32px;
}

.product__item {
  margin-left: 32px;
  width: calc((100% / 4) - 32px);
  margin-bottom: 36px;
  position: relative;
  // background-color: #000;

  img {
    width: 100%;
    object-fit: cover;
  }

  .product__text {
    padding: 10px 10px 20px;
  }

  h5 {
    color: #3a3a3a;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
  }

  .product__desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 24px */
    color: var(--color-gray-3);
  }
}

.product-price {
  display: flex;
  align-items: center;

  span {
    line-height: 150%;
  }

  span:first-of-type {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-gray-1);
    margin-right: 10px;
  }

  span:last-of-type {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray-4);
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-gray-4);
      transform: translateY(-50%);
    }
  }
}

.product__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: #3a3a3a9c;
  opacity: 0;
  // visibility:visible;
  transition: all 0.5s linear;
}

.hover__box {
  width: 100%;
  text-align: center;

  a {
    display: block;
    margin: 0 auto;
    padding: 12px 0px;
    width: 80%;
    background-color: var(--background);
    color: #b88e2f;
    font-weight: 600;
  }
}

.hover-icon__list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  margin-right: -10px;

  .icon__item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: calc((100% / 3) - 10px);

    span {
      font-weight: 600;
      color: var(--background);
      font-size: 16px;
      margin-left: 5px;
    }
  }
}

.product__item-hover:hover {
  opacity: 1;
  // visibility: hidden;
}

.product__sale {
  width: 48px;
  height: 48px;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: var(--color-red-accents);
  color: var(--background);
  position: absolute;
  top: 10%;
  right: 10%;
}

.product-page {
    display: flex;
    justify-content: center;
   
}


.product-page__list {
    display: flex;
    align-items: center;
    margin-left: -15px;

}

.product-page__item {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #F9F1E7;
    color: #000;
    margin-left: 15px;

    &:first-of-type {
        background-color: var(--primary);
        color: var(--background);
    }
}





/* service */ 

.service {
    padding: 100px 0px;
    background-color: #FAF3EA;
    margin-bottom: 20px;
}

.service__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}

.service__item{
    display: flex;
    // align-items: normal;
    align-items: center;
    svg {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

}

.service__text {
    h5 {
        color: #242424;
        font-weight: 600;
        // font-style: 25px;
        font-size: 25px;
    }

    span {
        // font-style: 20px;
        font-size: 20px;
        color: var(--color-gray-3);
        font-weight: 500;
    }
}
