* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #fff3e3;
  --primary: #b88e2f;
  --color-gray-1: #3a3a3a;
  --color-gray-2: #616161;
  --color-gray-3: #898989;
  --color-gray-4: #b0b0b0;
  --color-gray-5: #d8d8d8;
  --background: #fff;
  --text: #000;
  --color-red-accents: #e97171;
  --color-green-accents: #2ec1ac;
}

body {
  font-family: "Poppins", sans-serif;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

select {
  -moz-appearance: none;
       appearance: none;
  /* safari */
  -webkit-appearance: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

svg {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  padding: 15px 131px;
  margin: auto;
}

/* Header */
.header .container {
  padding: 15px 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .header_menu_item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.header .header_menu_item ul li a {
  color: var(--text);
}

.header .other_item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

/* Footer */
.grid_cols_4 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.col_title {
  margin-bottom: 53px;
}

.col_title h3 {
  line-height: 48px;
  font-weight: 500;
  color: #9f9f9f;
}

.col_content p {
  color: #9f9f9f;
  width: 285px;
}

.col_content_link {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.col_content_link li a {
  color: var(--text);
}

form,
.form_get_newsletter {
  display: flex;
  align-items: center;
  gap: 30px;
}

.form_get_newsletter button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--background);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 8px;
}

.form_get_newsletter input {
  font-size: 14px;
  background-color: var(--background);
  padding-bottom: 8px;
}

.border {
  width: 100%;
  height: 1px;
  background-color: #000;
}

/* Banner shop */
.banner {
  width: 100%;
  height: 316px;
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.568627451), rgba(255, 255, 255, 0.5607843137)), url("../images/banner-shop.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner__heading {
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

.banner__text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.banner .banner__text a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

.banner__text a:first-of-type {
  font-weight: 500;
}

.banner__text svg {
  width: 20px;
  height: 20px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #f9f1e7;
  padding: 0px 100px;
}

.filter__list,
.filter__item {
  display: flex;
  align-items: center;
}

.filter__item {
  cursor: pointer;
}

.filter__list:first-of-type .filter__item {
  margin-right: 15px;
}
.filter__list:first-of-type .filter__item span {
  margin-left: 12px;
}

.filter__list:first-of-type .filter__item:last-of-type {
  position: relative;
  padding-left: 15px;
}
.filter__list:first-of-type .filter__item:last-of-type:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #3a3a3a;
}

.filter__list:last-of-type .filter__item {
  margin-right: 15px;
}
.filter__list:last-of-type .filter__item span {
  margin-right: 12px;
}
.filter__list:last-of-type .filter__item:first-of-type input {
  padding: 20px;
  width: 55px;
  height: 55px;
  font-size: 16px;
}
.filter__list:last-of-type .filter__item:last-of-type input {
  padding: 20px;
  width: 188px;
  height: 55px;
  font-size: 16px;
}

/* Shop product*/
.products {
  margin-top: 50px;
  font-size: 16px;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -32px;
}

.product__item {
  margin-left: 32px;
  width: calc(25% - 32px);
  margin-bottom: 36px;
  position: relative;
}
.product__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__item .product__text {
  padding: 10px 10px 20px;
}
.product__item h5 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}
.product__item .product__desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
  color: var(--color-gray-3);
}

.product-price {
  display: flex;
  align-items: center;
}
.product-price span {
  line-height: 150%;
}
.product-price span:first-of-type {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-gray-1);
  margin-right: 10px;
}
.product-price span:last-of-type {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-4);
  position: relative;
}
.product-price span:last-of-type:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-4);
  transform: translateY(-50%);
}

.product__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: rgba(58, 58, 58, 0.6117647059);
  opacity: 0;
  transition: all 0.5s linear;
}

.hover__box {
  width: 100%;
  text-align: center;
}
.hover__box a {
  display: block;
  margin: 0 auto;
  padding: 12px 0px;
  width: 80%;
  background-color: var(--background);
  color: #b88e2f;
  font-weight: 600;
}

.hover-icon__list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-right: -10px;
}
.hover-icon__list .icon__item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: calc(33.3333333333% - 10px);
}
.hover-icon__list .icon__item span {
  font-weight: 600;
  color: var(--background);
  font-size: 16px;
  margin-left: 5px;
}

.product__item-hover:hover {
  opacity: 1;
}

.product-circle {
  width: 48px;
  height: 48px;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--background);
  position: absolute;
  top: 10%;
  right: 10%;
}
.product-circle__sale {
  background-color: var(--color-red-accents);
}
.product-circle__new {
  background-color: var(--color-green-accents);
}

.page-number {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-number__list {
  display: flex;
  align-items: center;
  margin-left: -38px;
}

.page-number__item {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #f9f1e7;
  color: #000;
  margin-left: 38px;
}
.page-number__item:first-of-type {
  background-color: var(--primary);
  color: var(--background);
}

/* service */
.service {
  padding: 100px 0px;
  background-color: #faf3ea;
  margin-bottom: 20px;
}

.service__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px;
}

.service__item {
  display: flex;
  align-items: center;
}
.service__item svg {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.service__text h5 {
  color: #242424;
  font-weight: 600;
  font-size: 25px;
}
.service__text span {
  font-size: 20px;
  color: var(--color-gray-3);
  font-weight: 500;
}

/* css checkout */
/* checkout-content */
.checkout-content {
  margin-bottom: 50px;
}

.billing-details {
  width: calc(50% - 15px);
  padding: 36px 76px 36px 79px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}

.billing-pay {
  width: calc(50% - 15px);
  margin: 0 0 auto 0;
}

.billing__heading {
  font-size: 36px;
  font-weight: 600;
}

.detail__item {
  display: flex;
  flex-direction: column;
}
.detail__item .select-custom {
  width: 100%;
  position: relative;
}
.detail__item .select-custom:after {
  content: "";
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 15px;
}
.detail__item input,
.detail__item select {
  width: 100%;
  padding: 20px 15px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  font-size: 16px;
  color: #9f9f9f;
  background-color: var(--background);
  position: relative;
}
.detail__item label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.detail__list {
  display: flex;
  flex-wrap: wrap;
}

.detail__item {
  width: 100%;
  margin-bottom: 20px;
}
.detail__item:nth-child(1) {
  width: calc(50% - 20px);
  margin-right: 40px;
}
.detail__item:nth-child(2) {
  width: calc(50% - 20px);
}
.detail__item:last-of-type {
  margin-top: 10px;
}

.billing-pay {
  padding: 100px 40px;
}

.pay__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.pay__heading span {
  font-weight: 500;
  font-size: 24px;
}

.pay__item {
  display: flex;
  flex-direction: column;
}
.pay__item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.pay__item div h5 {
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
}
.pay__item div h5 span {
  color: #000;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.pay__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pay__total span:last-of-type {
  color: var(--primary);
  font-size: 24px;
  font-weight: 700;
}

.pay__info {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.pay-method {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay-method__suggest {
  padding-top: 20px;
}
.pay-method__suggest h5 {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  padding-left: 30px;
}
.pay-method__suggest h5:after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #000;
  border-radius: 99px;
  position: absolute;
  top: 0;
  left: 0;
}

.pay-method__desc {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  margin-top: 10px;
}

.pay-method__list {
  margin: 20px 0;
  align-self: start;
}

.pay-method__item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.pay-method__item input {
  margin-right: 10px;
}
.pay-method__item label {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
}

.pay__desc {
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}
.pay__desc span {
  font-weight: 600;
}

.pay__btn {
  width: 50%;
  padding: 15px 0;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 20px;
  background-color: var(--background);
  margin-top: 25px;
}

/* Comparion */
.comparison {
  padding: 20px 10px;
}

.comparison__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -100px;
}

.comparison__item {
  margin-right: 100px;
  width: calc(25% - 100px);
}
.comparison__item:first-of-type h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 126.5%;
  margin-top: 20px;
}
.comparison__item:first-of-type a {
  color: #727272;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0px;
  border-bottom: 2px solid #727272;
}
.comparison__item:not(:first-of-type, :last-of-type) h5 {
  font-size: 28px;
  font-weight: 500;
  margin: 10px 0;
}
.comparison__item:not(:first-of-type, :last-of-type) span {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}
.comparison__item:last-of-type {
  display: flex;
  flex-direction: column;
}
.comparison__item:last-of-type h5 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.comparison__item:last-of-type button {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 0;
  width: 80%;
  background-color: #b88e2f;
  color: #fff;
  border-radius: 10px;
}

.comparion__image {
  border-radius: 10px;
  background-color: #f9f1e7;
}
.comparion__image img {
  width: 100%;
}

.rate {
  display: flex;
  align-items: center;
}

.rate__star {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.rate__star svg {
  width: 20px;
  height: 20px;
}

.rate__number span {
  color: #9f9f9f;
  font-size: 13px;
  font-weight: 400;
  padding-left: 10px;
  border-left: 1px solid #9f9f9f;
}

.star {
  display: flex;
}

.comparison-content {
  margin-bottom: 30px;
  margin-top: 40px;
}

.comparison-content__list {
  border-top: 1px solid #9f9f9f;
}

.comparison-content__item {
  padding-top: 30px;
}
.comparison-content__item h4 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.comparison-content__item div {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.comparison-content__item div h5 {
  margin-right: 25px;
  font-weight: 400;
  font-size: 20px;
  width: 25%;
}
.comparison-content__item div span {
  margin-right: 30px;
  display: block;
  width: 25%;
}

.comparison-content__btn {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 40px;
}
.comparison-content__btn a {
  width: calc(50% - 50px);
  padding: 20px 0;
  background-color: var(--primary);
  color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* css blog*/
.blog-main {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 0px 0;
}

.blog-left {
  width: 65%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-right {
  width: 30%;
}

.post__image {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.post__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.post__tag {
  display: flex;
}

.tag__item {
  display: flex;
  align-items: center;
  margin: 15px 25px 15px 0;
}
.tag__item span {
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
  margin-left: 10px;
}

.post__title {
  font-size: 30px;
  font-weight: 500;
  margin: 12px 0;
}

.post__desc {
  font-size: 15px;
  font-weight: 400;
  color: #9f9f9f;
  text-align: justify;
  line-height: 150%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipse;
  overflow: hidden;
  margin-bottom: 20px;
}

.post__item {
  margin-bottom: 60px;
}
.post__item a {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 3px solid #9f9f9f;
  color: #000;
}

.blog-categories {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.categories__input {
  display: flex;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  padding: 15px 10px;
  justify-content: space-between;
}
.categories__input input {
  font-size: 16px;
  width: 100%;
}
.categories__input i {
  font-size: 20px;
}
.categories__input button {
  background-color: transparent;
}

.categories__heading {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0 20px 20px;
}

.categories__list {
  margin: 20px 0 20px 20px;
}

.categories__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9f9f9f;
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-recent {
  margin: 0px 0 0px 20px;
}
.blog-recent h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.blog-recent__item {
  display: flex;
  margin-bottom: 25px;
}

.blog-recent__image {
  margin-right: 10px;
}
.blog-recent__image img {
  border-radius: 10px;
  overflow: hidden;
  max-width: 80px;
  max-height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-recent__text {
  max-width: 119px;
}
.blog-recent__text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.blog-recent__text .blog-recent__time {
  display: block;
  margin-top: 5px;
  color: #9f9f9f;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */